{% extends "base.html" %}


{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <div class="login-card">
                        <form action="{% url "users:signup" %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                    <input id="email" name="email" placeholder="이메일" type="email" class="form-control input-email col-xl-12 col-sm-12 col-md-12 col-lg-12" required>
                                    <input id="username" name="username" placeholder="닉네임" type="text" required class="form-control input-username col-xl-12 col-sm-12 col-md-12 col-lg-12" required>
                                    <input id="password" name="password" placeholder="비밀번호" type="password" required class="form-control input-password col-xl-12 col-sm-12 col-md-12 col-lg-12" required>
                                <input type="submit" value="회원가입" class="btn btn-login col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                <a class="btn btn-fb-login col-xl-12 col-sm-12 col-md-12 col-lg-12" href="{% url "social:begin" backend="facebook" %}">페이스북으로 회원가입</a>
                                <a class="btn-signin col-xl-12 col-sm-12 col-md-12 col-lg-12" href="{% url "users:signin" %}">로그인</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

