section {
	padding-top: 1rem;
	padding-bottom: 4rem;
}

button.prev:active,
button.prev:focus,
button.prev:hover,
button.prev {
    background-color: transparent;
    border: none;
    outline: none;
}

button.next:active,
button.next:focus,
button.next:hover,
button.next{
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-save {
	width: 100%;
	color: #FFF;
	background-color: #FFBB00;
}

.btn-save:hover {
	background-color: #DBC000;
}

.btn-delete {
	width: 100%;
	color: #FFF;
	background-color: #E53935;
}

.btn-delete:hover  {
	background-color: #A50000;
}

textarea#diary-content {
   height: 280px; 
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 2px;
}
textarea#diary-content:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

textarea#diary-translated-content {
   height: 280px; 
   border-radius: 2px;
   margin-top: 10px;
   margin-bottom: 10px;
}

@media (max-width: 992px) {
    textarea#diary-content {
       height: 180px; 
    }
}

@media (max-width: 992px) {
    textarea#diary-translated-content {
       height: 180px; 
    }
}

.diary-written {
    background-image: url("../img/rsz_stamp_print.png");
    background-repeat: no-repeat;
    background-position: center;
}

.diary-selected {
    outline: 1px solid #222;
}

.btn-translate {
    background-color: #A5E752;
    color: #FFF;
    width: 100%;
}

.btn-translate:hover {
    background-color: #75BC00;
}

.btn-dictionary {
    background-color: #A5E752;
    color: #FFF;
    width: 100%;
}

.btn-clipboard{
    background-color: #FFF;
    color: #333;
    width: 100%;
    border-color: #CCC;
}

.btn:hover,
.btn:active,
.btn:focus, 
.btn:active:focus {
    color: #FFF;
    outline: none;
    box-shadow: none;
}

.btn-clipboard:hover,
.btn-clipboard:active,
.btn-clipboard:focus {
    color: #333;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus, 
.btn-default:active:focus {
    color: #333;
}

input#find-word:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;

}

#modal-find-word{
    font-size: 23px;
    font-weight: 500;
}

.modal-title {
    font-size: 15px
}

#modal-word-meaning {
    color: #999999;
}

.modal-content {
    margin-top: 200px;
}
