{% extends 'base.html' %} 


{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xl-12 month-title">

            </div>
        </div>
        <div class="clear-fix">
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xl-12">
                <div id="datepicker" data-date="" data-date-format="yyyy-mm-dd"></div>
            </div>
            <div class="col-md-4 col-sm-12 col-xl-12">
                <textarea id="diary-content" name="" class="form-control" rows="25"></textarea>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block custom_javascripts %}
<script>
      $('#datepicker').data("date", "2016-12-07");
      $('#datepicker').datepicker();
      $('#datepicker').on("changeDate", function() {
          $('#my_hidden_input').val(
              $('#datepicker').datepicker('getFormattedDate')
          );
      });
</script>
{% endblock %}
